@model Learning1.Models.Designation

@{
    ViewData["Title"] = "Create";
}

<h4>Designation Form</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="UpsertDesig" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DesignationName" class="control-label"></label>
                <input asp-for="DesignationName" class="form-control" />
                <span asp-validation-for="DesignationName" class="text-danger"></span>
            </div>
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div  class="form-group col-md-6">
                    <a asp-action="Index"  class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



